body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}


/** HEADER **/
#header-nav {
	background-color: rgb(192,192,192);
	border-radius: 0;
	border: 5px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family:  serif;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
  background-color: #aaa;
  border: 2px solid #aaa;
}
#nav-list a {
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
  color: #000;
  text-align: center;
  border: 2px solid #fff;
}

#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#mainsection{
    background-color: rgb(192,192,192);
}
